// {
//     "presets": ["env"],
//     "plugins": [
//         ["@babel/plugin-transform-runtime"],
        
//       ]
// }

{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [
      ["@babel/plugin-transform-runtime"],
      ["component", [
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ]]
]
}