<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/vue.js"></script>
    <title>品牌列表</title>
</head>
<body>
    <div class="wrap">
            <div class="panel panel-primary">
                <div class="panel-heading">添加品牌</div>
                <div class="panel-body form-inline">
                    <div class="form-group">
                        <label>ID: </label><input type="text" class="form-control" v-model="id">
                    </div>
                    <div class="form-group">
                        <label>Name: </label><input type="text" class="form-control" v-model="name"></label>
                    </div>
                    <div class="form-group">
                        <input type="button" value="添加" class="btn btn-primary" @click="add">
                    </div>
                    <div class="form-group">
                        <!-- vue 中所有指令 都以v-  开头 -->
                        <label>
                            搜索名称关键字:
                        <input type="text" class="form-control" v-model="keywords" v-focus v-color="'blue'" v-fontweigth="900"></label>
                    </div>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Ctime</td>
                        <td>Operation</td>
                    </tr>
                    <tr v-for="item in search()" :key="item.id">
                        <td>{{ item.id }}</td>
                        <td v-text="item.name"></td>
                        <td>{{ item.time }}</td>
                        <td><a href="#" @click="del(item.id)">删除</a></td>
                    </tr>
                </table>
            </div>
    </div>
</body>

<script>

   //  使用 Vue.directive()  定义全局的指令  调用的时候加 v-
   //    参数1 是指认名称， 不需要加 v-
   //    参数2 是一个对象，
   Vue.directive('focus', {
        bind: function(el){    //只调用一次，指令第一次绑定到元素时调用。
            // 注意在每个函数中，第一个参数永远是el, 表示被绑定的那个元素，el 是原生的js 对象
            //在元素绑定指令的时候 ， 还没有插入dom 中去， 这时候调整 focus 没有作用。 元素插入dom 之后才能有效果
            // el.focus()
        },
        inserted: function(el){  //被绑定元素插入父节点时调用 (仅保证父节点存在，但不一定已被插入文档中)。
            el.focus()

        },
        updated: function(){  // Vnode 更新的时候执行， 可能会触发多次
   
        }
   })

   Vue.directive('color', {

       // 样式只要通过指令绑定给一元素， 不管这个指令有没有插入到页面中， 这个样式都会生效
       bind: function(el, binding){
           el.style.color = binding.value; 
       }
   })
  var vm = new Vue({
       el:".wrap",
       data(){
           return{
              id:'',
              name:'',
              keywords:'',
              list:[
                  {id: 1, name: "奔馳", time: new Date()},
                  {id: 2, name: "寶駿", time: new Date()},
                  {id: 3, name: "法拉利", time: new Date()},
                  {id: 4, name: "五凌宏光", time: new Date()},
                  {id: 5, name: "马沙拉帝", time: new Date()}
              ]
           }
       },
       methods:{
       
           add(){
           
                if(this.id == "" || this.name == "") return;
                this.list.push({id: this.id, name: this.name, time: new Date()})
            },
            del(obj){
       
                // 注意 findIndex filter some  forEach 都是数组遍历的新方法 都会对数组的每一项进行遍历执行相关的操作
                var a = this.list.findIndex(item => item.id == obj);
                this.list.splice(a,1);
                //  this.list = this.list.filter(item => item.id !== obj);
            
            },
            search(){

              /*  var newList = [];
                return this.list.forEach(item => {
                      if(item.name.indexOf(this.keywords) == -1){
                          newList.push(item)
                      }
                })
              */
              
              // 注意: 在ES6中,为字符串提供了一个新方法,叫做 String,prototype.includes("要包含的字符串")  包含返回 true, 否则返回 false
              return this.list.filter(item => item.name.includes(this.keywords));
            }  
       },
        // 私有指令
        directives: {
            'fontweigth':{
                bind: function(el, binding){
                el.style.fontWeight = binding.value;
                }
            }
        }

  })
</script>
</html>